<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
        <h2>About Us</h2>
        <centre>

        </cente>
        <h4>Version 1.0.o</h4>
        
      </div>
      <%- include('./partials/footer.ejs') %>
</body>
</html>