<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
        <h2>About Us</h2>
        <centre>
          <h4>Version 1.0.0</h4>
          <p>Gopi A</p>
          <p>2018506033</p>
          <p>MA</p>
        </centre>
        
        
      </div>
      <%- include('./partials/footer.ejs') %>
</body>
</html>